#friends-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 15px 0px;
    font-size: 18px;
}

#friends-display-link i {
    color: rgba(0,0,0,0.2);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel-header {
    display: flex;
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}